@page "/access-denied"

<div class="container">

<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Access Denied</h4>
  <p>
      Looks like you lack permissions to access private repository information.
  </p>
  <hr>
  <p class="mb-0">
      If you work at Microsoft, you can request access
      <a class="alert-link" href="https://github.com/dotnet/core/blob/main/Documentation/microsoft-team.md#join-net-teams-in-dotnet-and-microsoft-orgs">here</a>.
  </p>  
</div>

</div>