@page "/access-denied"

<div class="container">

<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Access Denied</h4>
  <p>
      Looks like you lack permissions to access private repository information.
  </p>
  <hr>
  <p class="mb-0">
      If you work at Microsoft, you can request access by emailing
      <a class="alert-link" href="mailto:.NET OSS Admins?subject=Requesting access to themesof.net">.NET OSS Admins</a>.
  </p>  
</div>

</div>