@page "/shortcuts"

<div class="container">

<table class="table table-striped">
    <thead>
        <tr>
            <th>Command</th>
            <th>Shortcut</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Focus filter box</td>
            <td><kbd>/</kbd></td>
        </tr>
        <tr>
            <td>Filter by state or kind</td>
            <td><kbd>i</kbd></td>
        </tr>
        <tr>
            <td>Filter by priority</td>
            <td><kbd>p</kbd></td>
        </tr>
        <tr>
            <td>Filter by cost</td>
            <td><kbd>c</kbd></td>
        </tr>
        <tr>
            <td>Filter by team</td>
            <td><kbd>t</kbd></td>
        </tr>
        <tr>
            <td>Filter by area</td>
            <td><kbd>e</kbd></td>
        </tr>
        <tr>
            <td>Filter by product</td>
            <td><kbd>d</kbd></td>
        </tr>
        <tr>
            <td>Filter by milestone</td>
            <td><kbd>m</kbd></td>
        </tr>
        <tr>
            <td>Filter by author</td>
            <td><kbd>u</kbd></td>
        </tr>
        <tr>
            <td>Filter by assignee</td>
            <td><kbd>a</kbd></td>
        </tr>
        <tr>
            <td>Filter by validation code</td>
            <td><kbd>c</kbd></td>
        </tr>
    </tbody>
</table>

<div class="alert alert-info">
    <strong>Note:</strong> on the query view you can apply filters to the query by combining 
    the shortcut with <kbd>Ctrl</kbd>
</div>

</div>
